.dialog-pane {
    -fx-background-color: black;
}

.dialog-pane .label {
    -fx-text-fill: #ca1919;
}

.dialog-pane:header .header-panel {
    -fx-background-color: #dc0a0a;
}

.dialog-pane:header .header-panel .label {
    -fx-font-style: italic;
    -fx-font-size: 2em;
}