.root, .label, .text-field, .hyperlink, .button {
    -fx-font-family: "Montserrat"; /* Replace "Your Font Name" with the actual font name */
}
.background {
    -fx-background-image: url("background.png"); /* Background image */
}

#logo {
    -fx-font-size: 40px; /* Font size */
}

.dialog-form {
    -fx-background-color: rgba(31, 28, 32, 0.9); /* Darkish, slightly transparent background */
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0.5, 0, 0) /* Drop shadow effect */
    , blur(5px); /* Blur effect */
}


.label {
    -fx-text-fill: white;
}
#login-input-text {
    -fx-text-fill: #D8D8D8;
}

.text-field {
    -fx-background-color: transparent; /* Transparent background */
    -fx-border-color: #E37107; /* Border color */
    -fx-border-width: 0 0 2 0; /* Border width (bottom only) */
    -fx-text-fill: white;
}



.hyperlink {
    /* -fx-font-size: 10px; */
    -fx-text-fill: #E37107; /* Text color */
}
.hyperlink:hover {
    -fx-scale-x: 1; /* Prevent hover enlargement */
    -fx-scale-y: 1; /* Prevent hover enlargement */
}

.button {
    -fx-pref-width: 150px; /* Preferred width */
    -fx-background-color: #E37107; /* Button background color */
    -fx-text-fill: white; /* Button text color */
    -fx-font-weight: bold; /* Font weight */
    -fx-background-color-transition: color 0.3s; /* Color transition duration */
}

.button:hover {
    -fx-background-color: #984c06; /* Hover background color */
}
